.team {
    margin-bottom: 2rem;
  }
  
  .team .col-lg-4 {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .team h5 {
    margin: 1.4rem;
    color: $gris3;
  }
  
  .team p {
    color: $gris3;
  }