/* Estilos Generales */

h1 {
  color: $primary;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header {
  border-bottom: 1px solid $gris0;
}

hr {
  border: 1px solid $gris1;
}

.btn-primary {
    color: $blanco
}

.btn-primary:hover {
  color: $blanco;
}

.bg-primary {
  background-color: $primary;
}  